@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #e6e7e7;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}
